<roundcube:object name="doctype" value="html5" />
<!--
 * elFinder plugin for RoundCube
 *
 * This plugin integrates elFinder File Manager into Roundcube
 *
 * Copyright 2014 - Puzzle <puzzle1536@gmail.com>
 *
 * @version 0.1
 * @author puzzle1536@gmail.com
 * @licence GNU GPLv3+
 * @url http://github.com/puzzle1536/elfinder-roundcube-plugin
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 *
-->

<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<script type="text/javascript">
  if (window.rcmail) {
    $(document).ready(function() {
      dialog = $('#mainscreen').elfinder({
        url : 'plugins/elfinder/php/connector.minimal.php',
        lang : 'en',
        defaultView : 'list',
        width: $("#mainscreen").innerWidth()-2,
        height: $("#mainscreen").innerHeight()-2,
        commands : [
          'open', 'reload', 'home', 'up', 'back', 'forward',
          'download', 'rm', 'duplicate', 'rename', 'mkdir', 'mkfile', 'upload', 'copy', 
          'cut', 'paste', 'edit', 'extract', 'archive', 'search', 'info', 'view', 'help',
          'resize', 'sort'
        ],
  
        commandsOptions : {
          edit : {
            dialogWidth: $("#mainscreen").innerWidth()-50,
            dialogHeight: $("#mainscreen").innerHeight()-50,
            editors : [
              { mimes : ['text/plain'], },
              { mimes : ['text/html'],
                load : function(textarea) {
                  tinymce.execCommand('mceAddEditor', false, textarea.id);
                },
                close : function(textarea, instance) {
                  tinymce.execCommand('mceRemoveEditor', false, textarea.id);
                },
                save : function(textarea, instance) {
                  tinymce.execCommand('mceSave', false, textarea.id);
                }
              },
            ]
          }
        }
      });

      tinymce.init({
        plugins : 'save link image lists emoticons textcolor table print',
        toolbar: [
          "print | undo redo | styleselect | forecolor backcolor |\
           link image | table | emoticons"
        ],
        save_enablewhendirty: true,
        save_onsavecallback: function() {
          // Should do sthg clever here ?!?
        },
        menubar: false,
        statusbar: false,
        resize: false,
      });

    })
  }
</script>
<body>

<roundcube:include file="/includes/header.html" />

<div id="mainscreen">

<div id="helptoolbar" class="toolbar">
</div>

<div id="pluginbody" class="uibox offset">
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
