<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<script type="text/javascript">
  if (window.rcmail) {
    $(document).ready(function() {
      dialog = $('#mainscreen').elfinder({
        url : 'plugins/elfinder/php/connector.php',
        lang : 'en',
        defaultView : 'list',
        width: $("#mainscreen").innerWidth()-2,
        height: $("#mainscreen").innerHeight()-2,
        commands : [
          'open', 'reload', 'home', 'up', 'back', 'forward',
          'download', 'rm', 'duplicate', 'rename', 'mkdir', 'mkfile', 'upload', 'copy', 
          'cut', 'paste', 'edit', 'extract', 'archive', 'search', 'info', 'view', 'help',
          'resize', 'sort'
        ],
  
        commandsOptions : {
          edit : {
            dialogWidth: $("#mainscreen").innerWidth()-50,
            dialogHeight: $("#mainscreen").innerHeight()-50,
            editors : [
              { mimes : ['text/plain'], },
              { mimes : ['text/html'],
                load : function(textarea) {
                  tinymce.execCommand('mceAddEditor', false, textarea.id);
                },
                close : function(textarea, instance) {
                  tinymce.execCommand('mceRemoveEditor', false, textarea.id);
                },
                save : function(textarea, instance) {
                  tinymce.execCommand('mceSave', false, textarea.id);
                }
              },
            ]
          }
        }
      });

      tinymce.init({
        plugins : 'save link image lists emoticons textcolor table print',
        toolbar: [
          "print | undo redo | styleselect | forecolor backcolor |\
           link image | table | emoticons"
        ],
        save_enablewhendirty: true,
        save_onsavecallback: function() {
          // Should do sthg clever here ?!?
        },
        menubar: false,
        statusbar: false,
        resize: false,
      });

    })
  }
</script>
<body>

<roundcube:include file="/includes/header.html" />

<div id="mainscreen">

<div id="helptoolbar" class="toolbar">
</div>

<div id="pluginbody" class="uibox offset">
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
