.elfinder-popup {
	top: 40px;
	left: 40px;
}

#taskbar a.button-elfinder span.button-inner {
	background: url(elfinder.png) 0 0 no-repeat;
	height: 19px;
}

#taskbar a.button-elfinder:hover span.button-inner,
#taskbar a.button-elfinder.button-selected span.button-inner {
	background: url(elfinder.png) 0 -24px no-repeat;
	height: 19px;
}

ul.toolbarmenu li span.briefcase {
	background: url(elfinder.png) -2px -50px no-repeat;
	height: 9px;
}

.elfinder-contextmenu .elfinder-contextmenu-item span { font-size:1em; }

.elfinder-cwd-file-wrapper { font-size:1em;font-weight:normal;}
.elfinder-cwd-view-list td { font-size:1em; font-weight:normal}
.elfinder-cwd table td.ui-state-hover {font-weight:1em; font-weight:normal}
.elfinder-statusbar div {font-size:1em; font-weight:normal}
.elfinder-navbar span {font-size:1em; font-weight:normal}

.std42-dialog .ui-dialog-titlebar { font-size:1em; }
.std42-dialog .ui-dialog-content { font-size:1em; }
.std42-dialog .ui-dialog-buttonpane { font-size:1em; }
.elfinder-info-tb { font-size:1em; }
.elfinder-upload-dropbox { font-size:1.2em; }
.elfinder-upload-dialog-or { font-size:1.2em; }
.dialogelfinder .dialogelfinder-drag { font-size:1em; }
.elfinder .elfinder-navbar { font-size:1em; }
.elfinder-place-drag .elfinder-navbar-dir { font-size:1em;}
.elfinder-quicklook-title { font-size:1em; }
.elfinder-quicklook-info-data { font-size:1em; }
.elfinder-quicklook-preview-text-wrapper { font-size:1em; }
.elfinder-button-menu-item { font-size:1em; }
.elfinder-button-search input { font-size:1em; }
.elfinder-drag-num { font-size:12px; }
